

*{
    padding: 0;
    margin: 0;
}


    body{
        padding: 0;
        background-color: #ebebeb;
        text-align: center;
        margin-top: 100px;
        font-family: 'Poppins', sans-serif;
    }
    
h1{
    color: #414CAB;
    padding-bottom:30px ;
}
    .container{
        display: flex;
        gap: 50px;
        text-align: center;
        justify-content: center;
    }

.card{
    border-radius: 20px;
    padding: 30px;
    width:260px;
    background-color: white;
    color: #414CAB;
}

.card h2{
margin-top: 10px;
}
   .card img{
    border-radius: 10px;
        width: 200px;
    }

    footer{
        margin-top: 50px;
        background-color: #414CAB;
        height: fit-content;
        color: white;
    }

    footer img{
        padding-top: 20px;
    }

    .links{
        padding: 20px 0;
    }

    .links a{
transition: 0.1s;
        text-decoration: none;
        color: white;
        padding: 40px 20px;
    }

    .links a:hover{
color: yellow;    
}

   hr{
margin: 0 auto;    
width: 500px;
}

.coppyR{
    padding-bottom: 10px;
}

.tell{
    padding: 10px 0;
}



/*responsive */
@media screen and (max-width: 500px) {

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: unset;

}

h1{
    text-align: center;
}

    .container{
        margin-left: 130px;
        display: flex;
        flex-direction: column;
       text-align: center;

    }

    .card{
text-align: center;
width: fit-content;
    }

.card h2{
    font-size: 20px !important;
}

.card p{
    font-size: 15px;
}

.card img{
        width: 170px;
    }

footer{
    text-align: center;
    padding-bottom: 70px;
}

   hr{
    width: 400px;
   }

}
