@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main {
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;

    justify-content: center;
    align-items: center;
}

.eachbook {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 244px;
    height: 428.56px;
    background: #FFFFFF;
    border-radius: 15.8789px;
    
   
}

.coverbook {
   
    border-radius: 10px;

   
    width: 206.78px;
    height: 278.16px;
}



.seepost form input {
    cursor: pointer;
    width: 207.26px;
    height: 35.1px;
    font-family: 'poppins';
    background: #E1EBFF;
    border-radius: 4.30401px;
    border: none;
    color: #414CAB;
    font-weight: bold;
}