body {
    background-color: #EBEBEB;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 50px;
}


.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    background: linear-gradient(157.31deg, #414CAB 5.83%, #2E3467 95.62%);
    border-radius: 25px;
    text-align: center;
    width: 500px;
    height: 550px;




}

.leftSide p {
    padding: 20px;
}



.leftSide img {
    padding: 40px;
    height: 100px;
}

.leftSide .signupBtn {
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 10px;
    outline: 2px white solid;
    color: white;
    font-weight: bolder;
    padding: 15px 40px 15px 40px;
    transition: 0.2s;
    z-index: 1000;
}

.leftSide .signupBtn:hover {
    color: #2E3467;
    background-color: white;
}




.rightSide h2 {
    color: #414CAB;
}

.rightSide input {
    color: #51557E;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    color: #51557E;
    background-color: white;
    border: none;

}

.rightSide input[type="checkbox"] {
    width: 20px;

    color: #414CAB;
}

.remember {
    vertical-align: 20px;
    margin-left: 7px;
    color: #414CAB;
    font-weight: bold;

}



.rightSide input[type="submit"] {
    transition: 0.2s;
    font-weight: bolder;
    color: white;
    background-color: #414CAB;
    font-size: 18px;
    width: 300px;
}


.rightSide input[type="submit"]:hover {
    box-shadow: 0 0 8px 0 #414CAB;
    cursor: pointer;
}

.btnM {
    display: none;
}

.error-input-signin{
    font-size: 12px;
    color: red;
}

/*responsive */
@media screen and (max-width: 500px) {

    body {
        text-align: center;
    }


    .container {
        margin: 0;
        /* margin-right: 100px; */
    }

    .leftSide {
        display: none;
    }

    .check {
        transform: translateX(-86px)
    }

    .btnM {
        padding: 11px;
        border-radius: 5px;
        display: block;
        transition: 0.2s;
        font-weight: bolder;
        color: #414CAB;
        border: 2px #414CAB solid;
        font-size: 16px;
        min-width: 293px;
        text-decoration: none;
        ;
        transform: translateY(-10px);
    }

    .btnM:hover {
        background-color: #414CAB;
        color: white;
        box-shadow: 0 0 8px 0 #414CAB;

    }




}